<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Edit movie </title>
    </head>
    <body>
        <h1> Edit movie </h1>
        <form method="POST" action="/api/movie/edit/<%= movie.id %>">
            <div>
                <label>
                    Title:
                </label>
                <input type="text" id="title" name="title" value="<%= movie.title %>">
            </div>
            <div>
                <label>
                    Director:
                </label>
                <input type="text" id="director" name="director" value="<%= movie.director %>">
            </div>
            <button> Edit movie </button>
        </form>
    </body>
</html>